.b {
    position: absolute;
    right: 23%;
    border-radius: 30px;
    width: 1030px;
    height: 585px;
    display: flex;
    justify-content: space-between;
}

.left-container,
.right-container {
    height: 500px;
    flex: 1;
    border-radius: 30px;
    background: rgba(234, 154, 187, 0.44);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.left-container {
    display: flex;
    margin-bottom: 2%;
    position: relative;
    left: -13%;
    margin-left: 5%;
    margin-right: -30%;
    height: 130%;
}

.right-container {
    position: relative;
    right: 20%;
    margin-left: 45%;
    margin-right: -30%;
    height: 130%;
}

.text-card {
    display: flex;
    text-align: left;
    position: absolute;
    top: 60%;
    right: 6%;
    width: 81%;
    font-weight: bolder;
    font-size: 1.5rem;
}

@media (max-width: 420px) {
    .image-ph {
        display: none;
    }

    .right-container {
        width: 36%;
        position: absolute;
        left: 26%;
        height: 822px;
        top: -9%;
    }

    .left-container {
        width: 36%;
        position: absolute;
        left: 66%;
        height: 822px;
        top: 139%;
        margin-bottom: 20%;
    }

    .computador-happy {
        display: flex;
        height: 48%;
        width: 80%;
    }

    .computador-sad {
        display: flex;
        height: 48%;
        width: 80%;
    }

    .text-card{
        margin-top: -6%;
    }
}